* {
    font-family: 'Open Sans' !important;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    text-transform: uppercase;
    animation: Gradient 8s ease infinite;
    overflow: hidden;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes error {
    0% {
        margin-left: -10px;
    }
    50% {
        margin-left: 10px;
    }
    100% {
        margin-left: -10px;
    }
}
.error-animation {
    animation:  error 100ms ease  8;
}
.login {
    position: absolute;
    height: 400px;
    width: 331px;
    top: 66px;
    left: 10%;
    padding-top: 97px;
    transition: all 500ms ease-in-out;
}
.input-text {
    padding: 8px 14px;
    margin-bottom: 26px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 70px;
    font-family: verdana;
    color: white;
    font-weight: 400;
    transition: background 500ms ease;
    outline: none;
    background: rgba(255,255,255,.2);
    font-size: 13px;
}
.input-text:focus {
    background: rgba(255,255,255,.3)
}
.input-text::-webkit-input-placeholder {
    color: white;
}

.input-text::-ms-input-placeholder {
    color: white;
}

.input-text::-moz-placeholder {
    color: white;
}

.main-container {
    width: 408px;
    position: relative;
    border: 1px solid black;
    height: 519px;
    margin: 6px auto;
    box-sizing: border-box;
    background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95)), url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
    padding: 37px;
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.label {
    display: block;
    font-weight: 400;
    color: rgba(255,255,255,.7);
    font-size: 11px;
    padding-left: 9px;
    padding-bottom: 9px;
    text-transform: uppercase;
}
.submit-button {
    width: 100%;
    margin-top: 8px;
    padding: 9px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    text-transform: uppercase;
    animation: Gradient 8s ease infinite;
    text-align: center;
    color: white;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    border-radius: 55px
}
.tab-switch {
    width: 100%;
}
.tab-container {
    width: 50%;
    color: white;
    margin: auto;
    font-size: 20px;
}
.sign-in-tab {
    margin-right: 5px;
    border-bottom: 2px solid transparent;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}
.sign-up-tab {
    margin-left: 5px;
    border-bottom: 2px solid transparent;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}
.activated-tab {
    border-bottom: 2px solid #C6FF00;
}
.tab:hover {
    border-bottom: 2px solid #C6FF00;
}
.signup {
    position: absolute;
    height: 400px;
    width: 331px;
    top: 77px;
    left: 100%;
    transition: all 500ms ease-in-out;
}
.active-tab {
    top: 77px;
    left: 10%;
}
.inactive-sign-in {
    left: -82%;
}
.user-msg {
    padding: 8px;
    text-align: center;
    color: white;
    font-size: 11px;
}
.header {
    padding: 10px;
    font-size: 89px;
    text-align: center;
    color: white;
    letter-spacing: 12px;
}
