<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login or SignUp</title>
    <script src="script/angular.min.js"></script>
    <script src="script/jquery-3.3.1.slim.js"></script>
    <link rel="stylesheet" href="style/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
</head>
<body>
    <div ng-app="login" ng-controller="loginController" class="main-container">
        <div class="tab-switch">
            <div class="tab-container">
                <span class="tab sign-in-tab">SIGN IN</span>
                <span class="tab sign-up-tab">SIGN UP</span>
            </div>
        </div>
        <div class="login">
            <div class="login-form">
                <form action="/login" method="POST" ng-model="formData" index="0" id="login-form">
                    <label for="username" class="label">Username</label>
                    <input type="text" name="username" class="input-text" placeholder="Username"><br>
                    <label for="password" class="label">Password</label>
                    <input type="password" name="password" class="input-text" placeholder="Password"><br>
                    <input type="submit" value="Sign In" class="submit-button">
                    <!--<button class="submit" onclick="submit()"></button>-->
                </form>
            </div>
        </div>
        <div class="signup">
            <form action="/signup" method="POST" ng-model="formData" index="1" id="signup-form">
                <label for="name" class="label">Create Password</label>
                <input type="text" name="name" class="input-text" placeholder="Name"><br>
                <label for="email" class="label">Create Password</label>
                <input type="text" name="email" class="input-text" placeholder="Email"><br>
                <label for="username" class="label">Username</label>
                <input type="text" name="username" class="input-text" placeholder="Username"><br>
                <label for="password" class="label">Create Password</label>
                <input type="password" name="password" class="input-text" placeholder="Password"><br>
                <input type="submit" value="Sign Up" class="submit-button">
            </form>
            <div class="user-msg">

            </div>
        </div>
    </div>
</body>
<script src="script/login.js"></script>
</html>
